body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 98vw;
    height: 100dvh;
    background-color: #0f0f0f;
    overflow-y: scroll;
}
:root {
  --main-color: #0f0f0f;
  --selected-video-color: #272727;
}
#ViewPort {
  display: grid;
  grid-template-rows: 60px auto;
  width: 100%;
	height: 100%;
}
#NavBar {
  grid-row: 1;
  background-color: #0f0f0f;
}
#MainContent {
  grid-row: 2;
  background-color: #0f0f0f;
}
.search-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;
    display: flex;
    background-color: #0f0f0f;
    border-radius: 20px;
    width: 100%;
    justify-content: center;
    padding-block: 10px;
}
.search-input {
    flex-grow: 1;
    border: 1px solid #303030;
    border-radius: 20px 0px 0px 20px;
    background-color: #121212;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    outline: none;
}
.search-content {
  max-width: 90%;
  width: 900px;
  display: flex;
  margin-inline: 10%;
}
.search-button {
    width: 60px;
    background-color: #222222;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #303030;
    cursor: pointer;
    padding-right: 6px;
}
.search-icon {
    width: 20px;
    height: 20px;
    fill: #999999;
}
.Sugerencias {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  margin-inline: 1%;
  width: 100%;
}
.Sugerencias-div {
  display: flex;
  align-items: center;
  background-color: #3F3F3F;
  color: white;
  width: auto;
  max-width: 220px;
  border-radius: 20px;
  margin-inline: 5px;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Sugerencias-div:hover {
  background-color: #312b2a;
}
.results-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 50px;
}
.result-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    padding: 10px;
    color: #f1f1f1;
}
.result-item:hover {
  background-color: var(--selected-video-color);
  cursor: pointer;
  transform: scale3d(1.1, 1.1, 1.1);
  border-radius: 20px;
}
.result-image {
    width: 100%;
    height: 100%;
    max-height: 180px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 20px;
}
.result-content {
    flex: 1;
}
.result-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.result-subtitle {
    font-size: 14px;
    color: #666;
    margin: 0 0 5px 0;
}
.result-duration {
    font-size: 12px;
    color: #999;
}
.result-divitem {
  display: grid !important;
  grid-template-columns: calc(10% + 100px) auto;
}
.result-divcontent {
  float: left;
}
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.video-player {
  position: relative;
  width: auto;
  height: auto;
  box-sizing: content-box;
  background: url("./assets/loading-buffering.gif"); /* Degradado */
  background-repeat: no-repeat;
  background-size: contain; /* o 'cover', dependiendo de tus necesidades */
  background-position: center;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

#videoPlayer {
  border-radius: 20px  20px 0 0;
  width: 100%; /* Asegura que el video se ajuste al ancho del contenedor */
  height: 100%; /* Asegura que el video se ajuste a la altura del contenedor */
  object-fit: cover; /* Cubre todo el contenedor, podría cortar parte del video */
}
#videoPlayer2 {
  border-radius: 20px  20px 0 0;

  object-fit: cover;
  /* position: relative; */
}
.player:not(.maximized) .grid-2cols {
  grid-template-rows: auto;
  border: 1px solid rgba(0, 0, 0, 0.494);
  border-radius: 20px 20px 0px 0px;
  background-color: #100f0fce;
  width: 100%;
  .video-player {
    width: 100%;
    height: 100%;
    position: absolute;
    video {
      width: 100%;
      height: 100%;
    }
  }
  .video-information {
    opacity: 0.1;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
  }
  .video-information:hover {
    opacity: 1;
  }

}
.playlist {
    flex: 1;
    /* background-color: #fff; */
    border-radius: 4px;
    padding: 10px;
    max-height: 600px;
    overflow-y: auto;
}
.playlist-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.playlist-item:hover {
    background-color: #f0f0f0;
}
.playlist-item img {
    width: 120px;
    height: 68px;
    object-fit: cover;
    margin-right: 10px;
}
.playlist-item-info {
    flex: 1;
}
.playlist-item-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.playlist-item-duration {
    font-size: 0.8em;
    color: #606060;
}
.controls {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    right: 0;
    left: 0;
    button {
      background-color: transparent !important;
    }
    button:hover {
      background-color: rgba(20, 20, 20, 0.5) !important;
      transform: scale3d(1.1, 1.1, 1.1);
      color: white;
      cursor: pointer;
    }
}
.controls button {
    background-color: #065fd4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.controls button:hover {
    background-color: #0056b3;
}
.responsive-box {
  width: 100%;
  height: 100%;
}
video {
    max-width: 1000px;
}

.containerbox {
  box-sizing: content-box;
  padding: 0.5rem;
  position: relative;
  border: 1px solid rgba(88, 88, 255, 0.123);
  border-radius: 0.5rem;
  background-color: #212121;
  margin: 0.8rem;
  min-width: 90%;
  min-height: 50%;
}
.fixed-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #212121;
}
.grid {
  display: grid !important;
  padding: 5px;
  gap: 5px;
  background-color: #008000;
}
.flex {
  display: flex !important;
}
.right-section {
  flex-direction: column;
}
.horizontalflex {
  flex-direction: row !important;
  height: 100px;
}
.left-section {
  display: flex;
  flex-direction: column; /* Apilar los elementos uno encima del otro */
  width: 100%;
  height: 100%;
}
.flexitem1 {
  flex: 1;
  width: 100%;
}

.hidden {
  display: none !important;
}
.full-width {
  grid-template-columns: 1fr;
}

.playlist{
  border: 1px solid #3f3f3f;
  border-radius: 20px;
  padding: 0px;
  color: #f1f1f1;
  box-sizing: content-box;
}
.title-playlist{
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #212121;
  align-content: center;
  border-bottom: 1px solid #3f3f3f;
  border-radius: 20px 20px 0px 0px;
}
.title-playlist h2{
  text-align: center;
  margin: 0px;
}
.playlist-item{
  width: 100%;
  height: 20%;
  margin-bottom: 4px;
  background-color: #3f3f3f;
  border-radius: 20px;
  display: grid;
  position: relative;
  grid-template-areas:
  "IMAGE TITLE"
  "IMAGE ARTIST";
}
.playlist-item:hover{
  background-color: #312b2a;
}

.image-item img{
  border-radius: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 5px;
  background-color: #0f0f0f;
  grid-area: IMAGE;
}
.info-item{
  padding: 0px;
  position: relative;
  left: 30px;
}

.player {
  position: fixed;
  width: 100%;
  height: 95%;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  position: fixed; /* El elemento se posiciona de manera absoluta dentro del contenedor */
}
.video-container {
  width: 100%;
  height: 100%; /* Full height minus controls */
  /* background-color: #000; */
  display: flex;
  color: #fff;
  font-size: 24px;
}
.container-video {
  width: 100%;
  position: relative;
  background-color: #212121;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,auto ));
  gap: 5px;
}



.video-title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: auto;
}

.player.maximized {
  background-color: rgb(15, 14, 14)
}

.minimize-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.grid-2cols {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}
.child-grid2cols {
  background-color: #f0f0f0;
  border: 1px solid #000;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.audio-player {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #282828;
  border-radius: 8px;
  width: 400px;
  margin: 20px auto;
}

.play-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.play-btn:hover {
  color: #ff0000;
}

.progress-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #555;
  border-radius: 5px;
  margin: 0 10px;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #f60000;
  border-radius: 50%;
  cursor: pointer;
}


.volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 70px;
  height: 5px;
  background: #555;
  border-radius: 5px;
}
.justify-content-center {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #ff0000;
  border-radius: 50%;
  cursor: pointer;
}
.scrollable-item {
  border: 1px solid #000;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 150px;
  }
}
@media (max-height: 1600px) {
  .player {
    /* bottom: 10% !important; */
    right: 0%;
    width: auto;
    height: auto;
  }
}

@media (max-width: 800px) {
  .player {
    bottom: 20% !important;
    right: auto !important;
    width: auto;
    height: auto;
    float: inline-end;
  }
  .grid-2cols {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}
.video-container1 {
  /* background-color: #000; */
  position: fixed;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
}
.video-container1.minimized {
  max-width: 30% !important;
  max-height: 30% !important;
}
.minimize-btn1 {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
